.sys_header {
  background-image: none !important;
  background-color: $theme-bg-color !important;
  border-bottom-color: $theme-bg-color !important;
}
.top-mode.left-wrapper {
  background-color: $theme-bg-color;
}
// .top-mode .ant-menu-light{
//     background:$theme-bg-color;
//     color:#fff;
// }
// .top-mode .ant-menu-light .ant-menu-submenu-selected >.ant-menu-submenu-title{
//     color:#fff;
// }
